<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

    <title>Maiduo</title>
    <style>
        .smImage {width:96px}
        .col-lg-12{  padding-left: 5;  padding-right: 5;}
    </style>
</head>

<body>
    <div class="container-fluid col-lg-12" ng-controller="AppCtrl">
        <h1>Maiduo Admin Panel</h1>
        <h2>Shops</h2>
        <button class="btn btn-warning" ng-click="newShop()">Add Shop</button>
        <br>
<!--        
        <div ng-repeat="shop in shopList">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">{{shop.name}}</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <button class="btn btn-info" ng-click="editShop(shop)">Edit</button>
                            <button class="btn btn-info" ng-click="gotoGroupBuyList(shop._id)">Groupbuys</button>   
                            <button class="btn btn-danger" ng-click="removeShop(shop._id)">Remove</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
-->

  <uib-accordion close-others="true">
    <uib-accordion-group heading="{{shop.name}}" is-open="false" ng-repeat="shop in shopList">
        <button class="btn btn-info" ng-click="editShop(shop)">Edit</button>
        <button class="btn btn-info" ng-click="gotoGroupBuyList(shop._id)">Groupbuys</button>   
        <button class="btn btn-danger" ng-click="removeShop(shop._id)">Remove</button>
    </uib-accordion-group>   
  </uib-accordion>

<!--
        <table class="table">
            <thead>
                <tr>
                    <th>Shop</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="shop in shopList">
                    <td>{{shop.name}}</td>
                    <td>
                        <button class="btn btn-info" ng-click="editShop(shop)">Edit</button>
                        <button class="btn btn-info" ng-click="gotoGroupBuyList(shop._id)">Groupbuys</button>   
                        <button class="btn btn-danger" ng-click="removeShop(shop._id)">Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
-->
        <!-- Modal -->
        
        <div ng-controller="AppCtrl">
            <script type="text/ng-template" id="newShop.html">
                <div class="modal-header">
                    <div ng-if="editMode == true">
                        <h3 class="modal-title">Edit Shop</h3>
                    </div>
                    <div ng-if="editMode != true">
                        <h3 class="modal-title">New Shop</h3>
                    </div>
                        
                </div>
                <div class="modal-body">
                    Shop name
                    <input class="form-control" ng-model="shop.name"> 
                    email
                    <input class="form-control" ng-model="shop.email"> 
                    phone
                    <input class="form-control" ng-model="shop.phone_number">
                    address
                    <input class="form-control" ng-model="shop.address">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="ok()">Save</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </script>
        </div>
    </div>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>

    <script src="controllers/admin_ctrl.js"></script>
</body>

</html>
