

<h1>{{groupbuy.title}}</h1>
<img src="{{groupbuy.photoLink}}"></img>
<h1>{{groupbuy.description}}</h1>
<br>
Name
<input class="form-control" ng-model="order.name"> 
E-mail
<input class="form-control" ng-model="order.email"> 
Phone
<input class="form-control" ng-model="order.phone_number">

<div data-ng-repeat="item in groupbuy.items">
    {{item.item_name}} : {{item.item_price}}
    Order: <input class="form-control" ng-model="orderItem[$index].count">
</div>

<button class="btn btn-primary" type="button" ng-click="submit()">Submit</button>
