<head>
    <div ng-if="groupbuyON == true">
        <title>{{groupbuy.title}}</title>
    </div>
    <div ng-if="groupbuyON == false">
        <title>{{groupbuy.title}} 已截止</title>
    </div>
</head>

<body>
    <div class="panel panel-info container-fluid col-lg-12">
        <div class="panel-heading" style="padding-left: 5;font-weight: bold;">
            <div ng-if="groupbuyON == true">
                <h3>{{groupbuy.batchId}}{{groupbuy.title}}</h3>
            </div>
            <div ng-if="groupbuyON == false">
                <h3>{{groupbuy.batchId}}{{groupbuy.title}} 已截止</h3>
            </div>
        </div>
        <div class="panel-body">
            <img src="{{groupbuy.photoLink}}" class="img-responsive img-thumbnail"></img>
            <br> {{groupbuy.description}}
            <br>
            <br>
            <div ng-show="groupbuyON">
                <div class="row">
                    <label>微信名字<span class="star">&#x2605</span></label><br>
                    <input class="form-contrl" type="text" ng-model="order.name">
                </div>
                <br>
                <div class="row">
                    <label>电话<span class="star">&#x2605</span></label><br>
                    <input class="form-contrl" type="tel" ng-model="order.phone_number">
                </div>
                <br>
                <div data-ng-repeat="item in groupbuy.items">
                    <div class="row">
                        <lable>{{item.item_name}} 价格: {{item.item_price}}</lable><br>
                        <input class="form-contrl" type="tel" ng-init="orderItem[$index].item_count=0" value=0 ng-model="orderItem[$index].item_count" placeholder="订购数量">
                    </div>
                    <br>
                </div>
                
                <div class="row">
                    <label>备注</label><br>
                    <input class="form-contrl" type="text" ng-model="order.notes">
                </div>
                <br>
                <div class="row">
                    <div role="alert">
                        <span class="label label-danger" ng-show="hasError">{{submit_check_message}}</span>
                    </div>
                </div>
                <button class="btn btn-primary btn-lg" type="button" ng-click="submit_order()">提交订单</button>
            </div>
        </div>
    </div>
</body>
